name: test with docker
on:
  - pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build docker image
        run: |
          docker compose -f docker/docker-compose.yml build

      - name: Test server mode
        run: |
          docker compose -f docker/docker-compose.yml up -d
          docker compose -f docker/docker-compose.yml ps -a
          sleep 5
          docker compose -f docker/docker-compose.yml ps -a
          docker compose -f docker/docker-compose.yml exec rendering-proxy-chromium pnpm test
          docker compose -f docker/docker-compose.yml exec rendering-proxy-firefox pnpm test
